# Ignore everything
*

# But not these files...
!threedee-0.22.zip*
!TreeFarmMod-1.2.zip*
!timerfix-0.7.zip*
!AGRods1_0.zip*
!AddKingdomItemsv1.8.zip*
!alchemy1.0.1.zip*
!altars3_0.zip*
!announcer-0.45.zip*
!archeotweaks-1.2.zip*
!archery.zip*
!ArmourStands.1.2.zip*
!Armoury-4.1.zip*
!AshProduce-1.4.1.zip*
!AutoAlerts_1_2.zip*
!bagofholding-0.45.zip*
!awakening-1.0.2.zip*
!bagofholding-0.45.zip*
!mobspawnmaxcount.zip*
!creaturesdb.zip*
!creaturesonwater.zip*
!decorations.zip*
!buildingskillmod.zip*
!cavusnostra.zip*
!combiner.zip*
!craftablepauldrons.zip*
!deedmaker.zip*
!DPS.zip*
!dungeon.zip*
!dyemaker.zip*
!epiccurve.zip*
!eventmod.zip*
!fishmonger.zip*
!bdew_server_mod_tools-2.1.0.zip*
!beastsummoner.zip*
!betterdig-0.9.zip*
!betterfarm-2.2.zip*
!BetterGamemasters-1.1.1-bin.zip*
!NewPortals-1.0.2.zip*
!WyvernMods.zip*
!source_code__Coldies Mods.zip*

!README.md
!Wurm_Unlimited_-_Action_Names_and_Numbers.json
!Wurm_Unlimited_-_Item_Names_and_Numbers.json
!Wurm_Unlimited_-_Meditation_Cheatsheet_data.json
!Wurm_Unlimited_-_Action_Names_and_Numbers.txt
!Wurm_Unlimited_-_Item_Names_and_Numbers.txt
!index.php
!mods_server_simple_names_master_list_stage_00.txt
!mods_server_simple_names_master_list_stage_01.txt
!mods_server_simple_names_master_list_stage_02.txt
# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/a/b/file1.txt
!*/a/b/c/*
