body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background-color: #303030;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.panel {
    width: 100%;
    background-color: #424242;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    flex: 1;
}

h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

div:focus, select:focus, textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px #66339920 inset,
                0 0   8px #66339980;
    outline: 1px solid rebeccapurple;
}

.input-field:nth-of-type(1) {
    margin-bottom: 15px;
}
.input-field:nth-of-type(2) {
    width: calc(100% - 20px);
    outline: none;
    border: none;
}

input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    background-color: #616161;
    color: #fff;
}

#output {
    margin-top: 20px;
    font-size: 16px;
}

h3 {
    margin-top: 20px;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

li {
    background-color: #616161;
    margin: 5px 0;
    padding: 5px;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}
